* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px; /* Arredonda os cantos dos botões */
  
}

:root {
  --primary-color: #8B0000;
  --secundary-color: #800000;
  --shadow-color: black;
  --text-color: #FFF;
}

body {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 font-family: 'karla', sans-serif;
 position: relative;
 background: linear-gradient(360deg, #1a1a1a 0%, #8B0000 80%); /* Gradiente de fundo */
 color: var(--text-color);
}

header {
 background-color: rgba(26, 26, 26, 0.0); /* Cor de fundo cinza escuro com 0% de opacidade */
 height: 70px;
 text-align: center;
 line-height: 70px;
 box-shadow: none; /* Remove a sombra */
 border: none; /* Remove a borda */
}


.header-title {
  color: #FFFAFA;
  font-size: 2rem;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 5vh auto;
  padding: 50px;
  box-shadow: 2px 2px 10px var(--shadow-color);
  gap: 20px;
}

footer {
  width: 100;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  padding: 20px;
}

@media (max-width:480px) {
  header {
    position: fixed;
    width: 100%;
  }

  .header-title {
    font-size: 1.5rem;
  }

  main {
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
    box-shadow: none;
  }
}